

@media only screen and (max-width: 1200px) {
    .section2 .blogArea .blog{
        height: 350px;
    }
    .section2 .blogArea .blog .blog-img img{
        width: 80%;
        height: 80%;
    }
  }

  /* For Tab Screen Responsive design  */

  @media only screen and (min-width: 1340px){
    .header-area .menuBar{
        display: none;
        
    }
 
 
    .header-area.dropdown{
        display: block;
    }
    .interface{
        
        width: 825px;
        height:450px;
        /* background: url(Source/img/interfce-bg\ .jpg); */
        background-size: cover;
        background-repeat: no-repeat;
        overflow: hidden;
    }
    .interface .main-area{
        width: 300px;
        height: 100px;
        
    }
  }



  /* For Mobile Responsive Design  */

  @media only screen and (max-width: 340px) {
   
    .interface{
        height: 200px;
    }
    .interface .main-area{
        width: 260px;
        height: 100px;
        overflow: hidden;
        margin-left: 5px;
        
    }
    .interface .main-area .minTitle{
        font-size: 13px;
        
    }
    .interface .main-area .title{
        font-size: 20px;
    }

    .interface .main-area p{
        display: none;
    }
    .interface .main-area .rounded-pill{
        height: 30px;
        font-size: 10px;
    }
    .section1 .col{
        margin-bottom: 50px;
    }
    .section2 .blog-title{
        font-size: 20px;
    }
    .section2 .blogArea .blog{
        height: 450px;
    }
  }